<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-6429526891658542/7105155712</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>514159653628-u6thcn0m2ngv9jvve72i6tv6dd0md2mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514159653628-u6thcn0m2ngv9jvve72i6tv6dd0md2mc</string>
	<key>API_KEY</key>
	<string>AIzaSyDka2i5b76QYTPZmwbDf6GP7Qx7QFTX-8w</string>
	<key>GCM_SENDER_ID</key>
	<string>514159653628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PhotoEditing.app.GAD</string>
	<key>PROJECT_ID</key>
	<string>gadad-a0659</string>
	<key>STORAGE_BUCKET</key>
	<string>gadad-a0659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:514159653628:ios:9cb93e30b06f05a3</string>
	<key>DATABASE_URL</key>
	<string>https://gadad-a0659.firebaseio.com</string>
</dict>
</plist>
